<aside class="footer-widgets">
	<div class="inner-wide">
		<div class="widget-area">
			<div class="footer-col first">
				<section class="widget widget-recent-posts">
					<h2 class="widget-title">Recent Posts</h2>
					{{#get "posts" limit="4"}}
					<ul>
						{{#foreach posts}}
						<li>
							{{#if feature_image}}
							<a href="{{url}}" class="recent-thumb" style="background-image: url({{feature_image}});"><span class="screen-reader-text">{{title}}</span></a>
							{{/if}}
							<div class="recent-title"><a href="{{url}}">{{title}}</a></div>
							<div class="recent-date">{{date format="MMMM DD, YYYY"}}</div>
						</li>
						{{/foreach}}
					</ul>
					{{/get}}
				</section><!-- .widget -->
			</div>
			<div class="footer-col middle">
				<section class="widget widget-recent-posts">
					<h2 class="widget-title">Upcoming Events</h2>

					<ul>
						<li>
							<a href="/nlpt-team" class="recent-thumb" style="background-image: url('/assets/images/content-image-4-teamx.jpg');"><span class="screen-reader-text">In-season team training</span></a>
							<div class="recent-title"><a href="/nlpt-team">In-season team training</a></div>
							<p class="recent-description">The season is almost here. We have multiple training options to keep your team sharp at the end of the game.</p>
							{{!-- <div class="recent-date">July 3, 2018</div> --}}
						</li>
						<li>
							<a href="/learn-to-train" class="recent-thumb" style="background-image: url('/assets/images/learn_to_train.png');"><span class="screen-reader-text">Learn to Train</span></a>
							<div class="recent-title"><a href="/learn-to-train">Learn to Train</a></div>
							<p class="recent-description">Teaching the fundamentals of training. For athletes 11 and under.</p>
							{{!-- <div class="recent-date">July 3, 2018</div> --}}
						</li>

					</ul>


				</section><!-- .widget -->
			</div>
			<div class="footer-col last">
				<section class="widget widget-instagram">
{{!-- 					<h2 class="widget-title">{{@blog.title}} on @instagram</h2>
					<!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/8453affe2d6353d195706db5420f9712.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
 --}}
 					<h2 class="widget-title">Navigate</h2>
 					<div class="footer-nav-container"><a href="/programs" class="footer-nav-item">All programs</a></div>
 					<div class="footer-nav-container"><a href="/massage" class="footer-nav-item">Massage Therapy</a></div>
 					<div class="footer-nav-container"><a href="/nlpt-athlete" class="footer-nav-item">NLPTathlete</a></div>
 					<div class="footer-nav-container"><a href="/fitness" class="footer-nav-item">Adult fitness</a></div>
 					<div class="footer-nav-container"><a href="/blog" class="footer-nav-item">Blog</a></div>
 					<div class="footer-nav-container"><a href="/archive" class="footer-nav-item">Post archive</a></div>
 					<div class="footer-nav-container"><a href="/tools" class="footer-nav-item">Tools</a></div>
 					<div class="footer-nav-container"><a href="/about" class="footer-nav-item">About</a></div>
 					<div class="footer-nav-container"><a href="/contact" class="footer-nav-item">Contact</a></div>
				</section><!-- .widget -->
			</div>
		</div><!-- .widget-area -->
	</div><!-- .inner-wide -->
</aside><!-- .footer-widgets -->
